{{#each apps}}
<li>
    <a href="{{url}}">
        <img class="icon",
             alt="{{title}}"
             {{#if title}}
             title="Open {{title}}"
             {{else}}
             title="Open {{db}} / {{name}}"
             {{/if}}
             width="128"
             height="128"
             src="{{#if dashicon}}{{_id}}/{{dashicon}}{{else}}img/icons/default_128.png{{/if}}" />
         <div class="title">
             {{#if title}}
                 {{title}}
             {{else}}
                 <span style="white-space: nowrap">{{name}}</span>
             {{/if}}
         </div>
    </a>
</li>
{{/each}}
